/* CSS Document   */

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Site Styles */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: url(../images/bg.jpg) repeat-x #fffcef 0 182px;
}

body.error404 {
	background-position: 0 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cantora One', sans-serif;;
	color: #39352c;
}
h2 {
	font-size: 26px;
	font-weight: normal;
}

img {
	border: none !important;
}
a, a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
}
p {
	margin-bottom: 10px;
	color: #404040;
	line-height: 16px;
}
.esquerda, .alignleft {
	float: left;
}
.direita, .alignright {
	float: right;
}
.alignleft {
	margin-right: 15px;	
}
.alignright {
	margin-left: 15px;
}

.centro {
	margin: auto;
}
.clear {
	clear: both;
}
.divisor, .divisor2 {
	margin-top: 5px;
	border-top: 1px dotted #b8d9d4;
}
.divisor3 {
	border-bottom: 1px dotted #ccc;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.m-top3 {
	margin-top: 3px;
}
.m-top5 {
	margin-top: 5px;
}
.m-top7 {
	margin-top: 7px;
}
.m-top10 {
	margin-top: 10px;
}
.m-top15 {
	margin-top: 15px;
}
.m-top20 {
	margin-top: 20px;
}
.m-top30 {
	margin-top: 30px;
}
.m-bottom2 {
	margin-bottom: 2px;
}
.m-bottom5 {
	margin-bottom: 5px;
}
.m-bottom10 {
	margin-bottom: 10px;
}
.m-bottom15 {
	margin-bottom: 15px;
}
.m-bottom20 {
	margin-bottom: 20px;
}
.m-bottom25 {
	margin-bottom: 25px;
}
.m-bottom30 {
	margin-bottom: 30px;
}
.m-bottom40 {
	margin-bottom: 40px;
}
.m-right15 {
	margin-right: 15px;
}
.m-left15 {
	margin-left: 15px;
}
.m-left30 {
	margin-left: 30px;
}
.p130 {
	width: 130px;
}
.p200 {
	width: 200px;
}
.p260 {
	width: 260px;
}

#rodape {
	bottom: 0;
	height: 115px;
	width: 100%;
	padding-top: 25px;
	margin-top: 25px;
	background:  url(../images/bg_footer.jpg);	
}

#rodape #endereco p {
    text-align: right;
    height: 11px;
    color: #5B2B16 !important;
    font-size: 11px;
    margin-bottom: 0;
}

#conteudo {
	padding-top: 20px;
}

.wrap {
	width: 960px;
}

#header {
	height: 176px;
	background: url(../images/bg_header.jpg);
	padding-top: 6px;
}

#header .bg_logo {
	background: url(../images/bg_logo.png) no-repeat;
	background-attachment:inherit;
	background-position: -260px 0;
}

#logo_busca{
	height: 130px;
}

#logo {
	margin-top: 18px;
}

ul#menu-principal {
	padding: 0;
    height: 46px;
}
ul#menu-principal li {
	display: inline;
}
ul#menu-principal a {
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	border-left: 1px solid #79bca6;
	border-bottom: 1px solid #1e5c50;
	display: inline-block;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
}
ul#menu-principal .ultimo a {
	border-right: 1px solid #79bca6;
}
ul#menu-principal a:hover, #menu-principal .current-menu-item a, #menu-principal .current-menu-parent {
	text-decoration: none;
	background: -webkit-linear-gradient(#d5ffff 0%, #cae173  100%);
	background: -moz-linear-gradient(#d5ffff 0%, #cae173  100%);
	background: -o-linear-gradient(#d5ffff 0%, #cae173  100%);
	background: linear-gradient(#d5ffff 0%, #cae173  100%);
}
ul#menu-principal li ul {
	display: none;
	z-index: 99999;
}
ul#menu-principal ul {
	font-family: Arial, Verdana;
	font-size: 13px;
	margin: 0;
	padding: 0;
	list-style: none;
	left: -1px;
	width: 190px;
}
ul#menu-principal li {
	display: block;
	position: relative;
	float: left;
}
ul#menu-principal ul li a {
	display: block;
	text-decoration: none;
	color: #000;
	margin-left: 1px;
	white-space: nowrap;
}
ul#menu-principal li:hover ul {
	display: block;
	position: absolute;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	border-radius: 0 0 10px 0;
}
ul#menu-principal li:hover li {
	float: none;
	font-size: 12px;
	font-style: italic;
	
}
ul#menu-principal li:hover a {
	background: -webkit-linear-gradient(#d5ffff 0%, #cae173  100%);
	background: -moz-linear-gradient(#d5ffff 0%, #cae173  100%);
	background: -o-linear-gradient(#d5ffff 0%, #cae173  100%);
	background: linear-gradient(#d5ffff 0%, #cae173  100%);
	border-bottom: none;
}
ul#menu-principal li:hover li a {
	background: rgba(203,225,115,0.95);
	height: 35px;
	line-height: 35px;
}
ul#menu-principal li:hover li a:hover {
	background: rgba(169,190,110,0.95);
}

ul#menu-principal li:hover li:last-child a, ul#menu-principal li:hover li.last-child a {
	border-radius: 0 0 10px 0;
}
#conteudo2 {
	padding: 15px 0;
	border-top: none;
	margin-bottom: 15px;
	border-radius: 0 0 3px 3px;
}

.slideshow_video {
	height: 290px;
	display: block;
}

#slideshow {
	width: 540px;
	height: 290px;
	display: block;
}

#slideshow li {
	list-style: none;
}

#video iframe{
	width: 400px;
	height: 290px;
}

#noticias {
		width: 640px;
}
#noticias .noticia {
	height: 110px;
}
#noticias .ultimo {
	margin-right: 0;
}
#noticias h3 a, #galerias h3 a {
	font-size: 20px;
	font-weight: normal;
	color: #FF6600;
}

#galerias h3 a {
	font-size: 16px;
}

.noticia div {
	width: 450px;
}

.noticia h3 {
	margin-bottom: 5px;
}

#galerias {
	height: 290px;
}
#g_video{
	margin-right: 45px;
}

#g_video .video, #g_photo .album {
	width: 220px;
}

#g_video .video1, #g_photo .album1 {
	margin-right: 15px;
}

#galerias .icon {
	background: rgba(255,255,255,0.7);
	width: 40px;
	height: 28px;
	line-height: 31px;
	top: 102px;
	right: 0;
	font-size: 17px;
	text-align: center;
	border-radius: 4px 0 0 0;
	color: #333;
}
#cultos {
	width: 278px;
}
#cultos, #cultos a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #7c7868;
}
#minibanner {
	margin-top: 15px;
}
#minibanner h4 {
	text-transform: uppercase;
	color: #de6935;
	font-size: 14px;
	font-weight: normal;
}
#rodape ul li {
	line-height: 15px;
}
#rodape ul li a {
	font-size: 11px;
	color: #743215;
	font-style: italic;
}
#rodape ul li a:hover {
	color: #3C1505;
}
#rodape h3 {
	font-size: 14px;
	text-transform: uppercase;
	color: #000;
	font-weight: normal;
	margin-bottom: 3px;
}
#rodape #redes_sociais2, #rodape #logo_iasd2 {
	text-align: right;
}
#rodape #copyright p{
	font-size: 10px;
	color: #222 !important;
	line-height: 11px;
}
#busca {
	margin-top: 50px;
}
#busca #search {
	height: 32px;
	line-height: 32px;
	border: none;
	border-radius: 3px;
	padding: 0 30px 0 10px;
	font-style: italic;
	font-size: 12px;
	color: #0f3455;
    width: 217px;
	background: url("../images/search.png") no-repeat scroll 235px 8px rgba(255,255,255, 0.9);
}
#conteudo_interno, #categorias, #r_busca {
	width: 620px;
}
#conteudo_interno blockquote {
	overflow: hidden; /* clearfix alternative */
	font-size: 15px;
	font-style: italic;
	line-height: 16px;
	padding: 10px;
	width: 70%;
	margin-left: 30px;
	margin-bottom: 10px;
	margin-top: 20px;
	border-top: 1px solid #ccc;
}
#conteudo_interno blockquote:before {
	display: block;
	float: left;
	font-size: 74px;
	content: open-quote;
	color: #ddd;
	text-shadow: 0 1px 1px #eee;
	position: relative;
	top: 20px;
}

#conteudo_interno blockquote p {
	color: #7E7D7D;
}

#conteudo_interno a, #breadcrumbs a {
	color: #F60;
}

#conteudo_interno h1,
#conteudo_interno h2,
#conteudo_interno h3,
#conteudo_interno h4,
#conteudo_interno h5,
#conteudo_interno h6 {
	font-style: normal;
	text-transform: none;
	font-weight: normal;
	color: #000;
	padding-bottom: 2px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #E1E1E1;
}

#conteudo_interno .post h1,
#conteudo_interno .post h2,
#conteudo_interno .post h3,
#conteudo_interno .post h4,
#conteudo_interno .post h5,
#conteudo_interno .post h6 {
	margin-top: 40px;
}

#conteudo_interno h

#conteudo_interno h1 {
	font-size: 2em !important;
}

#conteudo_interno h2 {
	font-size: 1.8em !important;
}

#conteudo_interno h3 {
	font-size: 1.6em !important;
}

#conteudo_interno h4 {
	font-size: 1.4em !important;
}

#conteudo_interno h5 {
	font-size: 1.2em !important;
}

#conteudo_interno h6 {
	font-size: 1em !important;
}

#conteudo_interno ul, #conteudo_interno ol, #sidebar ul {
	margin-left: 15px;
	color: #404040;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#conteudo_interno ul, #conteudo_interno ol {
	margin: 0 0 10px 45px;
}

#conteudo_interno ul li, #sidebar ul li {
	list-style: disc;
	line-height: 19px;
}

#conteudo_interno ol li, #sidebar ol li {
	list-style: decimal;
	line-height: 19px;
}

#conteudo_interno h2.titulo, #r_busca h2, #categorias h2.titulo {
	font-size: 28px !important;
	font-style: italic;
	color: #39352c;
	text-transform: none;
}
#conteudo_interno .share_meta {
	border-top: 1px dotted #b8d9d4;
	border-bottom: 1px dotted #b8d9d4;
	height: 29px;
	line-height: 29px;
}

.meta {
	color: #979797;
}
#conteudo_interno .taxonomia, #conteudo_interno .taxonomia a, #conteudo_interno .taxonomia span {
	font-size: 11px;
	color: #999;
	margin-top: 20px;
}
#conteudo_interno .taxonomia span {
	font-size: 12px;
}
#conteudo_interno .taxonomia .icon-tag {
	font-size: 10px;
	margin-right: 5px;
}
#conteudo_interno .taxonomia .icon-tag-2 {
	font-size: 12px;
	margin-left: 5px;
}
#conteudo_interno p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 19px;
	color: #404040;
}
#conteudo2 .item {
	height: 125px;
}

#conteudo2 .no-thumbs {
	height: 60px;
}
#conteudo2 .thumbnail {
	width: 220px;
}
#conteudo2 .posts {
	width: 385px;
}

#conteudo2 .item h3 a{
	color: #FF6600;
}

.post {
	min-height: 300px;
	
}
.comentarios {
	padding: 15px;
	background: rgba(255,255,255,0.9);
	border-radius: 3px;
	border: 1px solid #EAEAEA;
}
.wp-caption {
	background: rgba(255,255,255,0.9);
	border-radius: 3px;
	border: 1px solid #EAEAEA;
	padding: 5px;
	width: 300px !important;
}
#conteudo_interno .wp-caption .wp-caption-text {
	font-style: italic;
	font-size: 11px;
	color: #858585;
	margin: 0;
	text-align: center;
}
#sidebar {
	width: 290px;
}
.sidebar {
	margin: 10px 0 15px;
	background: rgba(255,255,255,0.9);
	border-radius: 3px;
	border: 1px solid #dfdfdf;
}
#sidebar .conteudo {
	padding: 15px;
}
#sidebar h3.titulo {
	padding: 8px 15px 6px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: normal;
}
.featured-posts {
	clear: both;
}
.featured-post {
	margin: 7px 0;
	display: block;
}
.featured-post h4 a {
	float: right;
	width: 190px;
	font-weight: normal;
	color: #404040;
	margin-top: 5px;
}
.featured-post a img {
	float: left;
	border-radius: 4px;
}
#sidebar ul {
	margin-left: 15px;
	color: #404040;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#sidebar ul li {
	list-style: disc;
	line-height: 19px;
}
#sidebar li a {
	color: #404040;
}

#sidebar .widget .titulo_sidebar {
	font-size: 18px;
	font-style: italic;
}
.video_embed iframe {
	width: 620px;
	height: 380px;
}
.gallery_embed .fbphoto {
	float: left;
	margin: 2px;
	border: 1px solid #2a514b;
}
.gallery_embed .fbphoto, .gallery_embed .fbphoto a {
	width: 200px;
	height: 200px;
}
.gallery_embed .btfacebook {
	font-size: 17px;
	height: 40px;
	color: #fff !important;
	background: #3B5998;
	width: 350px;
	margin: 10px auto;
	display: block;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
}
#twitter {
	font-size: 12px;
	color: #4b200e;
	background: #cae173;
	padding: 5px;
	width: 950px;
	height: 32px;
}
#twitter .tweet-contents {
	margin: 0;
	line-height: 32px;
}

#twitter .siganos {
	background: #ddeca6;
	padding: 10px 20px;
	font-size: 12px;
}

#twitter .icon-twitter {
	font-size: 20px;
	line-height: 34px;
	height: 31px;
	margin-right: 5px;
	float: left;
}

.home #twitter .gg-twitter {
	width: 790px;
	float: left;
}

.icon1, .icon1:visited {
	width: 25px;
	height: 25px;
	display: inline-block;
	color: #222;
	font-size: 24px;
	margin-left: 10px;
}
.error404 {
	text-align: center;
}
#erro {
	height: 200px;
	width: 540px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -270px;
	margin-top: -100px;
}
#erro h2 {
	font-size: 120px;
	color: #000;
}
#erro h4 {
	font-size: 25px;
	color: #000;
	height: 30px;
}
#erro a {
	margin-top: 15px;
	display: block;
}

#r_busca h3 {
	color: #404040;
	font-weight: normal;
}

#r_busca h3 strong, #r_busca .titulo strong, #categorias h2.titulo strong {
	color: #F60;
}

#conteudo2 .item h3 {
	font-size: 18px;
}

.wp-pagenavi {
    padding: 0 !important;
}

.wp-pagenavi span.pages {
    background: none !important;
    border: none !important;
}

.wp-pagenavi, .wp-pagenavi a, .wp-pagenavi span.pages, .wp-pagenavi span.extend {
    font-size: 11px !important;
}

.wp-pagenavi span.current {
    background: -moz-linear-gradient(center top , #DADADA 1px, #BCBCBC 1px, #B7B7B7) repeat scroll 0 0 transparent !important;
	border: 1px solid #8E8C8C !important;
	text-shadow: none !important;
	color: #000!important;
}

#conteudo_interno label, #newsletter label {
    display: block;
    font-style: italic;
    font-weight: 300;
    width: 328px;
}

#conteudo_interno input, #conteudo_interno textarea, #conteudo_interno select, #newsletter input {
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    color: #999999;
    margin: 0 0 10px;
    max-width: 328px;
    padding: 5px;
    width: 328px;
}

#newsletter input {
    width: 270px;
}

#newsletter input[type="submit"]{
    width: 283px;
}

#twitter .twitterwidget-title, #twitter .time-meta {
	display: none;
}

#redes_sociais1 a {
	font-size: 26px;
}

.tweet-date, .tweet-by, .view-all-tweets {
	display: none;
}

#home_sidebar {
	width: 290px;
}

#home_sidebar #banner {
	height: 140px;
	background-color: #b9b9b9;
	display: block;
}







.icon1:hover {
	color: #000;
	text-decoration: none;
}
​
