@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-feed:before, .icon-facebook:before, .icon-picassa:before, .icon-twitter:before, .icon-twitter-2:before, .icon-camera:before, .icon-camera-2:before, .icon-youtube:before, .icon-magnifier:before, .icon-tag:before, .icon-tag-2:before, .icon-cross:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-feed:before {
	content: "\21";
}
.icon-facebook:before {
	content: "\22";
}
.icon-picassa:before {
	content: "\23";
}
.icon-twitter:before {
	content: "\24";
}
.icon-twitter-2:before {
	content: "\25";
}
.icon-camera:before {
	content: "\26";
}
.icon-camera-2:before {
	content: "\27";
}
.icon-youtube:before {
	content: "\28";
}
.icon-magnifier:before {
	content: "\29";
}
.icon-tag:before {
	content: "\2a";
}
.icon-tag-2:before {
	content: "\2b";
}
.icon-cross:before {
	content: "\2c";
}
